.join_us a{

    color: #016B4F;
}
.nav-menu li:hover{
    background-color: #016B4F;
    border-radius: 10px  ;
    color: white;


}
.nav-menu a:active{
    background-color: #016B4F;
    border-radius: 10px  ;
    color: white;


}
.nav-menu li{

 color: #016B4F;

}