.join_us a{

    color: white;
}
.nav-menu li:hover{
    background-color: #24214E;
    border-radius: 10px  ;
    color: white;


}
.nav-menu a:active{
    background-color: #24214E;
    border-radius: 10px  ;
    color: white;


}
.nav-menu li{

 color: #24214E;

}